Suchbegriff_1:
  search_term: Weltraumforschung
  language: de
  country: DE
  period: 7d
  max_results: 10
  exclude_websites:
    - yahoo.com
    - cnn.com
Suchbegriff_2:
  search_term: Rente
  language: de
  country: DE
  period: 7d
  max_results: 10
